@CHARSET "ISO-8859-1";

body {

}

#header {
	width:800px;
	height:100px;
	background-color:#ffdd41;
	border-bottom:none;
	padding:20px;
	font-size:25pt;
	color:red;
}

#content {
	width:808px;
	background-color:lightgrey;
	border: 1px solid black;
	padding:20px;
}

#bid_panel {
	display:block;
	width:806px;
	position:fixed;
	bottom:0px;
	background:#91e559;
	padding:20px;
}

table {
	width:846px;
	vertical-align:bottom;
	border:2px solid grey;
}

td { 
	padding: 20px;	
	border:1px solid grey; 
}

#even_td {
	background-color:black;
}

#odd_td {
	background-color:red;
}

tr:hover {
	background-color:lightblue;
}

#form {
	position:relative;
	left:450px;
	margin-top:-90px;
}