@CHARSET "ISO-8859-1";

body {
	
}

h2 {
	color: red;
	font-size: 34pt;
	margin: 0;
}

h4 {
	margin: 0;
}

#header {
	width: 800px;
	height: 100px;
	background-color: #ffdd41;
	padding: 40px;
}

#content {
	width: 840px;
	padding: 20px;
	background: lightblue;
}

#container {
	width: 100%;
	margin-top: 2px;
}

#detail_panel {
	background: lightblue;
	width: 670px;
	height: 540px;
	float: left;
	margin-right: 2px;
	padding: 20px;
}

#bid_panel {
	background: #91e559;
	width: 128px;
	height: 540px;
	float: left;
	padding: 20px;
}

#invalid_bid {
	color: red;
}

#impressum {
	background-color: #ffdd41;
	width: 860px;
	padding: 10px;
	float: left;
	margin-top: 2px;
}

#comments_panel {
	background-color: #ffdd41;
	width: 860px;
	padding: 10px;
	float: left;
	margin-top: 2px;
}

#comment_entry {
	background-color: ffdd41;
}

table {
	width: 884px;
	margin-left: -2px;
}

td {
	padding: 20px;
}

#even_tr {
	background-color: #91e559;
}

#odd_tr {
	background-color: lightblue;
}

#form {
	position: relative;
	left: 450px;
	margin-top: -90px;
}

#bid_text { 
	width: 120px;
	heigth: 40px;
	padding:4px;
}

#bid_submit { 
	width: 132px;
	heigth: 50px;
    margin-top:6px;	
    background: #ffdd41;
    font-size: 12pt;
}

a {
	text-decoration: none;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
}

a:active {
	color: #000;
}